name: Linux

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - name: Docker Build
      run: docker build -t kmakeimage .
    - name: Docker Run
      run: docker run --mount type=bind,source="$(pwd)",target=/workdir kmakeimage
    - name: Get KincTools_linux_x64
      run: git clone https://github.com/Kode/KincTools_linux_x64.git
    - name: Copy binary
      run: cp ./kmake KincTools_linux_x64/kmake
    - name: Set name
      run: git config --global user.name "Robbot"
    - name: Set email
      run: git config --global user.email "robbot2019@robdangero.us"
    - name: Add binary
      run: git -C KincTools_linux_x64 add .
    - name: Commit binary
      id: commit
      continue-on-error: true
      run: git -C KincTools_linux_x64 commit -a -m "Update kmake binary to $GITHUB_SHA."
    - name: Tag binary
      if: steps.commit.outcome == 'success'
      run: git -C KincTools_linux_x64 tag kmake_$GITHUB_SHA
    - name: Push binary
      id: push1
      if: steps.commit.outcome == 'success'
      continue-on-error: true
      run: git -C KincTools_linux_x64 push https://Kode-Robbot:$ROBBOT_PASS@github.com/Kode/KincTools_linux_x64.git main --tags
      env:
        ROBBOT_PASS: ${{ secrets.ROBBOT_PASS }}
    - name: Pull
      if: steps.commit.outcome == 'success' && steps.push1.outcome != 'success'
      run: git -C KincTools_linux_x64 pull --no-rebase
    - name: Push binary again
      if: steps.commit.outcome == 'success' && steps.push1.outcome != 'success'
      continue-on-error: true
      run: git -C KincTools_linux_x64 push https://Kode-Robbot:$ROBBOT_PASS@github.com/Kode/KincTools_linux_x64.git main --tags
      env:
        ROBBOT_PASS: ${{ secrets.ROBBOT_PASS }}

  build-armhf:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.8.10'
        architecture: 'x64'
    - name: Add arch i386
      run: |
        sudo dpkg --add-architecture i386
        sudo apt update -q -y
        sudo apt upgrade -q -y
    - name: Setup GCC
      run: |
        sudo apt install build-essential gcc-8 g++-8 binutils-multiarch libc6-dev:i386 gcc-arm-linux-gnueabihf g++-arm-linux-gnueabihf gcc-8-multilib gcc-8-multilib-arm-linux-gnueabihf g++-8-multilib g++-8-multilib-arm-linux-gnueabihf
    - name: Add temporary install dir
      run: mkdir install
    - name: Configure
      run: CC=/usr/bin/arm-linux-gnueabihf-gcc-8 CXX=arm-linux-gnueabihf-g++-8 CC_host="gcc-8 -m32" CXX_host="g++-8 -m32" ./configure --prefix=install --dest-cpu=arm --cross-compiling --dest-os=linux --openssl-no-asm --without-intl --partly-static
    - name: Compile
      run: make -j$(nproc)
    - name: Get KincTools_linux_arm
      run: git clone https://github.com/Kode/KincTools_linux_arm.git
    - name: Copy binary
      run: cp out/Release/node KincTools_linux_arm/kmake
    - name: Set name
      run: git config --global user.name "Robbot"
    - name: Set email
      run: git config --global user.email "robbot2019@robdangero.us"
    - name: Commit binary
      id: commit
      continue-on-error: true
      run: |
        git -C KincTools_linux_arm add .
        git -C KincTools_linux_arm commit -a -m "Update kmake binary to $GITHUB_SHA."
    - name: Tag binary
      if: steps.commit.outcome == 'success'
      run: git -C KincTools_linux_arm tag kmake_$GITHUB_SHA
    - name: Push binary
      id: push1
      if: steps.commit.outcome == 'success'
      continue-on-error: true
      run: git -C KincTools_linux_arm push https://Kode-Robbot:$ROBBOT_PASS@github.com/Kode/KincTools_linux_arm.git main --tags
      env:
        ROBBOT_PASS: ${{ secrets.ROBBOT_PASS }}
    - name: Pull
      if: steps.commit.outcome == 'success' && steps.push1.outcome != 'success'
      run: git -C KincTools_linux_arm pull --no-rebase
    - name: Push binary again
      if: steps.commit.outcome == 'success' && steps.push1.outcome != 'success'
      continue-on-error: true
      run: git -C KincTools_linux_arm push https://Kode-Robbot:$ROBBOT_PASS@github.com/Kode/KincTools_linux_arm.git main --tags
      env:
        ROBBOT_PASS: ${{ secrets.ROBBOT_PASS }}

  build-aarch64:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.8.10'
        architecture: 'x64'
    - name: Setup GCC
      run: |
        sudo apt update -q -y
        sudo apt upgrade -q -y
        sudo apt install build-essential gcc-8 g++-8 binutils-aarch64-linux-gnu gcc-8-aarch64-linux-gnu g++-8-aarch64-linux-gnu
    - name: Add temporary install dir
      run: mkdir install
    - name: Configure
      run: CC=/usr/bin/aarch64-linux-gnu-gcc-8 CXX=aarch64-linux-gnu-g++-8 CC_host="gcc-8" CXX_host="g++-8" ./configure --prefix=install --dest-cpu=arm64 --cross-compiling --dest-os=linux --openssl-no-asm --without-intl --partly-static
    - name: Compile
      run: make -j$(nproc)
    - name: Get KincTools_linux_arm64
      run: git clone https://github.com/Kode/KincTools_linux_arm64.git
    - name: Copy binary
      run: cp out/Release/node KincTools_linux_arm64/kmake
    - name: Set name
      run: git config --global user.name "Robbot"
    - name: Set email
      run: git config --global user.email "robbot2019@robdangero.us"
    - name: Commit binary
      id: commit
      continue-on-error: true
      run: |
        git -C KincTools_linux_arm64 add .
        git -C KincTools_linux_arm64 commit -a -m "Update kmake binary to $GITHUB_SHA."
    - name: Tag binary
      if: steps.commit.outcome == 'success'
      run: git -C KincTools_linux_arm64 tag linuxaarch64_$GITHUB_SHA
    - name: Push binary
      id: push1
      if: steps.commit.outcome == 'success'
      continue-on-error: true
      run: git -C KincTools_linux_arm64 push https://Kode-Robbot:$ROBBOT_PASS@github.com/Kode/KincTools_linux_arm64.git main --tags
      env:
        ROBBOT_PASS: ${{ secrets.ROBBOT_PASS }}
    - name: Pull
      if: steps.commit.outcome == 'success' && steps.push1.outcome != 'success'
      run: git -C KincTools_linux_arm64 pull --no-rebase
    - name: Push binary again
      if: steps.commit.outcome == 'success' && steps.push1.outcome != 'success'
      continue-on-error: true
      run: git -C KincTools_linux_arm64 push https://Kode-Robbot:$ROBBOT_PASS@github.com/Kode/KincTools_linux_arm64.git main --tags
      env:
        ROBBOT_PASS: ${{ secrets.ROBBOT_PASS }}
