name: Windows

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.8.10'
        architecture: 'x64'
    - name: Compile
      run: .\vcbuild.bat openssl-no-asm without-intl
    - name: Get KoreTools_windows_x64
      run: git clone https://github.com/Kode/KoreTools_windows_x64.git
    - name: Copy binary
      run: copy Release\node.exe KoreTools_windows_x64\kmake.exe
    - name: Set name
      run: git config --global user.name "Robbot"
    - name: Set email
      run: git config --global user.email "robbot2019@robdangero.us"
    - name: Add binary
      run: git -C KoreTools_windows_x64 add .
    - name: Commit binary
      id: commit
      continue-on-error: true
      run: git -C KoreTools_windows_x64 commit -a -m "Update kmake binary to ${env:GITHUB_SHA}."
    - name: Tag binary
      if: steps.commit.outcome == 'success'
      run: git -C KoreTools_windows_x64 tag kmake_${env:GITHUB_SHA}
    - name: Push binary
      id: push1
      if: steps.commit.outcome == 'success'
      continue-on-error: true
      run: git -C KoreTools_windows_x64 push https://Kode-Robbot:${env:ROBBOT_PASS}@github.com/Kode/KoreTools_windows_x64.git main --tags
      env:
        ROBBOT_PASS: ${{ secrets.ROBBOT_PASS }}
    - name: Pull
      if: steps.commit.outcome == 'success' && steps.push1.outcome != 'success'
      run: git -C KoreTools_windows_x64 pull --no-rebase
    - name: Push binary again
      if: steps.commit.outcome == 'success' && steps.push1.outcome != 'success'
      continue-on-error: true
      run: git -C KoreTools_windows_x64 push https://Kode-Robbot:${env:ROBBOT_PASS}@github.com/Kode/KoreTools_windows_x64.git main --tags
      env:
        ROBBOT_PASS: ${{ secrets.ROBBOT_PASS }}
